<h3>TaxiHome</h3>
<h4> Current location: </h4>

<div ng-model="map" id="map_canvas" style="width:400px;height:400px;"></div>

<!--<google-map center="map.center" zoom="map.zoom"></google-map>-->

<!--<form>-->
    <!--<input type="text" placeholder="Status" />-->
    <!--<button class="btn btn-primary btn-block" ng-click="submit()">Submit</button>-->
    <!--<button ng-click="popup()">Open popup</button>-->
<!--</form>-->
