<div style="background-color: #FAAC58">
    New Order arrived:<br>
    {{address}}<br>
    {{name}}<br>
    {{phone}}<br>
    {{order_id}}<br>
   	<button ng-click="ok()">Ok</button>
    <button ng-click="cancel()">Cancel</button>
</div>